html {
    background-color: black;
    color: gold;
}

.header {
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px dashed gold;
}

.characters-flex {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.character {
    padding: 1.5rem;
    border: 1px solid gold;
    border-radius: 7px;
    margin: 1rem;
}
