html {
    background-color: black;
    color: gold;
    font-family: 'Bilbo', cursive;
    font-kerning: auto;
}

p, h2, h3 {
    font-size: 1.8rem;
}

.header {
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 1px dashed gold;
}

.header h2 {
    font-size: 2rem;
}

.characters-flex {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.character {
    background-color: #0d0d0d;
    padding: 1.5rem;
    border: 1px solid gold;
    border-radius: 7px;
    margin: 1rem;
}

.quote {
    text-align: left;
    font-size: 1.8rem;
}

.character h2 {
    text-decoration: underline;
}
